body {
  font-family: "Courier New", Courier, monospace;
  padding-top: 55px;
}

/*  */
.card-no {
  border: none;
  outline: none;
  width: 90%;
  padding-left: 8px;
}

.form-control {
  outline: none;
  border: none;
  box-shadow: none;
}

.card-number {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 8px 2px;
}

.form-inline label {
  font-size: 1rem;
}

.focused {
  border: 2px solid #9ab3f5;
}

#form-footer a {
  margin: 0;
}

#form-footer p {
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #777;
}

.wrapper {
  background: #9ab3f5;
  margin: 20px auto;
  max-width: 400px;
  padding: 15px 20px;
  border-radius: 10px;
}

/*  */

* {
  margin: 0px;
  padding: 0px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 15rem; /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10rem; /* Footer height */
}

a {
  text-decoration: none;
}

/* label {
  display: block;
} */

/*  */
/*
#graceBarkerHome {
  background-color: #f0ffff;
} */

nav a {
  display: inline-block;
  margin: 0.5px;
}

/* for search bar */
/*
.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
} */

/* .dataResult::-webkit-scrollbar {
  display: none;
} */

/* .dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
} */

/**/

form div {
  margin: 1em;
  display: inline-block;
}

#dogCards,
#userCards,
#userCard {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

#dogCards > li {
  padding: 10px;
  margin: 10px;
  margin-bottom: 32px;
  width: calc(100% / 3 - 40px);
  border: 0px solid black;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#userCards > li {
  padding: 10px;
  margin: 10px;
  margin-bottom: 32px;
  width: calc(100% / 3 - 40px);
  border: 0px solid black;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#individualCards {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

#individualCards {
  padding-top: 5px;
}
#individualCards > li > img {
  display: block;
  margin: 0 auto;
  /* max-height: 100%;
  max-width: 100%; */
  width: 100%;
  height: 25vw;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* button styles */
.button-37 {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-37:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

/*STRIPE*/

.FormGroup {
  /* margin: 0 15px 20px;
  padding: 0;
  border-style: none; */
  background-color: #7795f8;
  /* will-change: opacity, transform; */
  /* box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff; */
  /* border-radius: 2px;
}

.FormRow {
  /* display: -ms-flexbox; */
  /* display: flex; */
  /* -ms-flex-align: center; */
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
  width: 50%;
}

.StripeElement--webkit-autofill {
  background: transparent;
}

.StripeElement {
  width: 70%;
  padding: 11px 15px 11px 0;
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }

  /* end Button style*/
}
